extends layout

block styles
    link(rel='stylesheet', type='text/css', href='/static/styles/bootstrap.datatables.css')

block scripts
    script(src='/static/scripts/bootstrap.datatables.js')

block content
