extends layout

block styles
    link(rel='stylesheet', type='text/css', href='/static/styles/datatables.css')

block scripts
    script(src='/static/scripts/datatables.js')
    script(src='/static/scripts/doctor.js')

block content
    .page-header
        h1
            i.fa.fa-user-md
            |  #{title}

    .panel.panel-default
        .panel-body
            table(id="doctors")
                thead
                    tr
                        th First name
                        th Last name
    .panel.panel-default
        .panel-heading Add veterinarian
        .panel-body
            if (error)
                .alert.alert-danger
                    i.fa.fa-warning
                    |  #{error}
            form(method="POST")
                .form-group
                    label(for="firstName") First name
                    input.form-control(autofocus, id="firstName", name="firstName", placeholder="First name", required, type="text")
                .form-group
                    label(for="lastName") Last name
                    input.form-control(id="lastName", name="lastName", placeholder="Last name", required, type="text")
                button.btn.btn-primary(accesskey="s", title="Alt+S") Save &crarr;
