extends layout

block content
  .jumbotron
    h1 Welcome
    p.lead Flask is a Python-based framework for building Web sites and Web applications using HTML, CSS and JavaScript.
      |  This is a sample web application based upon the Pet Clinic sample application distributed with various versions
      |  of the Spring framework for Java.
  .row
    .col-md-4
      h2 Flask framework
      p Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions.
      p
        a.btn.btn-primary(href='http://flask.pocoo.org/docs/') Learn more &raquo;
    .col-md-4
      h2 Jade templating engine
      p Jade is a templating engine for the Node JS platform that promotes brevity, thereby reducing size of template 
        |  files required to generate HTML pages.
      p
        a.btn.btn-primary(href='https://www.npmjs.com/package/jade') Learn more &raquo;
    .col-md-4
      h2 Pet Clinic
      p Pet Clinic is a sample web application that enables employees of a fictional pet clinic to manage information
        |  regarding veterinarians at the clinic, customers who visit the clinic for getting their pets treated and
        |  the pets treated at the clinic.
      p
        a.btn.btn-primary(href='https://docs.spring.io/docs/petclinic.html') Learn more &raquo;
